
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: #2cb67d }

header.theme-dark   { background-color: #0f172a }

header.theme-dark  h1 { color: var(--sky-400); 
    font-family: 'Bebas Neue', sans-serif;
}

section.theme-dark   { background-color: #7f5af0 }

footer.theme-dark   { background-color: #0f172a }

header .col-text h2, .col-1 > h3 { line-height: 1.8 ;
    font-family: 'Bebas Neue', sans-serif;
}


h3{
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Bebas Neue', sans-serif;
}